@import 'font';
@import 'variable';
@import '../../bower_components/bootstrap/less/theme.less';
html,
body {
    font-family: @font-stack;
    overflow-x: hidden;
}

.text-default,
.text-muted {
    color: @default-color;
}

.text-primary {
    color: @primary-color !important;
}

.text-danger {
    color: @danger-color;
}

.text-warning {
    color: @warning-color;
}

.text-success {
    color: @success-color !important;
}

.navbar-default {
    background: @primary-color;
    border-radius: 0;
    border: none;
    .navbar-brand {
        padding: 10px 0px 10px 0;
        color: #fff;
        &:hover,
        &:focus {
            color: #fff;
            background-color: transparent;
        }
        img {
            max-height: 100%;
            height: 100%;
            width: auto;
            // margin: 0 auto;
        }
    }
    .navbar-text {
        color: @primary-color;
    }
    .navbar-nav {
        > li > a {
            text-shadow: none;
            color: #fff - 80;
            &:hover,
            &:focus {
                color: #fff;
                background-color: transparent;
            }
        }
        > .active > a {
            &,
            &:hover,
            &:focus {
                // border-top: 3px solid #fff;
                color: #fff;
                background-color: transparent;
                background: none;
                box-shadow: none;
            }
        }
        > .disabled > a {
            &,
            &:hover,
            &:focus {
                color: @navbar-default-link-disabled-color;
                background-color: transparent;
            }
        }
    }
    .navbar-toggle {
        border-color: @navbar-default-toggle-border-color;
        &:hover,
        &:focus {
            background-color: transparent;
        }
        .icon-bar {
            background-color: @navbar-default-toggle-icon-bar-bg;
        }
    }
    .navbar-collapse,
    .navbar-form {
        border-color: @navbar-default-border;
    }
    // Dropdown menu items
    .navbar-nav {
        // Remove background color from open dropdown
        > .open > a {
            background-color: @primary-color - 20;
            background-image: none;
            &,
            &:hover,
            &:focus {
                // background-color: @navbar-default-link-active-bg;
                color: #fff;
                background-color: @primary-color - 20;
            }
        }
        @media (max-width: @grid-float-breakpoint-max) {
            // Dropdowns get custom display when collapsed
            .open .dropdown-menu {
                > li > a {
                    color: #fff - 80;
                    &:hover,
                    &:focus {
                        color: @primary-color;
                        background-color: #fff;
                    }
                }
                > .active > a {
                    &,
                    &:hover,
                    &:focus {
                        color: #fff;
                        background-color: @primary-color;
                    }
                }
                > .disabled > a {
                    &,
                    &:hover,
                    &:focus {
                        color: @navbar-default-link-disabled-color;
                        background-color: transparent;
                    }
                }
            }
        }
    }
    // Links in navbars
    //
    // Add a class to ensure links outside the navbar nav are colored correctly.
    .navbar-link {
        color: @primary-color;
        &:hover {
            color: #fff;
        }
    }
    .btn-link {
        color: @primary-color;
        &:hover,
        &:focus {
            color: #fff;
        }
        &[disabled],
        fieldset[disabled] & {
            &:hover,
            &:focus {
                color: @navbar-default-link-disabled-color;
            }
        }
    }
}

.medusa-sidemenu {
    padding-left: 0;
    margin-left: 0;
    .nav {
        > li > a {
            color: #fff - 80;
            padding: 5px;
            &:hover,
            &:focus {
                color: @primary-color;
                background-color: transparent;
            }
        }
        > .active > a {
            &,
            &:hover,
            &:focus {
                color: @primary-color;
                background-color: transparent;
                background: none;
                box-shadow: none;
            }
        }
        > .disabled > a {
            &,
            &:hover,
            &:focus {
                color: @navbar-default-link-disabled-color;
                background-color: transparent;
            }
        }
    }
}

.medusa-tabs {
    .nav-tabs {
        border-bottom: 0px;
        > li {
            float: left;
            // Make the list-items overlay the bottom border
            margin-bottom: 10px;
            // Actual tabs (as links)
            > a {
                margin-right: 2px;
                line-height: @line-height-base;
                border: 1px solid transparent;
                border-radius: 0;
                &:hover {
                    border-color: transparent;
                    background-color: @gray-color;
                    color: #fff;
                }
            }
            // Active state, and its :hover to override normal :hover
            &.active > a {
                &,
                &:hover,
                &:focus {
                    color: #fff;
                    background-color: @primary-color;
                    border-bottom: 0;
                    // border-bottom-color: transparent;
                    cursor: default;
                }
            }
        }
    }
}

.panel {
    margin-bottom: 20px;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 5px;
    .box-shadow(0 0px 1px rgba(0, 0, 0, .05));
    .list-group-item {
        position: relative;
        display: block;
        padding: 10px 20px;
        // Place the border on the list items and negative margin up for better styling
        margin-bottom: -1px;
        background-color: @list-group-bg;
        border: 1px solid @default-color;
        // Round the first and last items
        &:first-child {
            .border-top-radius(@list-group-border-radius);
        }
        &:last-child {
            margin-bottom: 0;
            .border-bottom-radius(@list-group-border-radius);
        }
    }
    .table {
        width: 100%;
        max-width: 100%;
        // Cells
        > thead,
        > tbody,
        > tfoot {
            > tr {
                > th,
                > td {
                    padding: @table-cell-padding;
                    padding-left: 20px;
                    line-height: @line-height-base;
                    vertical-align: top;
                    border-top: 1px solid @default-color !important;
                }
            }
        }
        // Bottom align for column headings
        > thead > tr > th {
            vertical-align: bottom;
            border-bottom: 1px solid @default-color;
        }
        // Remove top border from thead by default
        > caption + thead,
        > colgroup + thead,
        > thead:first-child {
            > tr:first-child {
                > th,
                > td {
                    border-top: 0;
                }
            }
        }
        // Account for multiple tbody instances
        > tbody + tbody {
            border-top: 1px solid @default-color;
        }
        // Nesting
        .table {
            background-color: @body-bg;
        }
    }
}

.panel-body {
    padding: 10px 20px;
    p {
        color: #fff - 80;
    }
}

.panel-default {
    .panel-variant(@default-color;
    @panel-default-text;
    transparent;
    @default-color);
}

.panel-primary {
    .panel-variant(@default-color;
    #fff;
    @primary-color;
    @primary-color);
    & > .panel-heading {
        background-image: none !important;
    }
}

.btn {
    text-shadow: none !important;
    box-shadow: none !important;
}

.btn-default {
    background-image: none;
    .button-variant(#fff, @gray-color, @gray-color);
}

.btn-primary {
    background-image: none;
    .button-variant(#fff, @primary-color, @primary-color);
}

.btn-success {
    background-image: none;
    .button-variant(#fff, @success-color, @success-color);
}

.btn-danger {
    background-image: none;
    .button-variant(#fff, @danger-color, @danger-color);
}

.btn-info {
    background-image: none;
    .button-variant(#fff, @info-color, @info-color);
}

.btn-group {
    .btn-primary {
        border-solid: 0.5px #fff solid !important;
    }
}

form {
    .form-group {
        .form-control {
            border: 2px solid @default-color;
            box-shadow: none;
        }
    }
}

label {
    font-weight: 200;
}

.alert {
    text-shadow: none;
    box-shadow: none;
    background-image: none !important;
}

.alert-primary {
    .alert-variant(@primary-color;
    @primary-color;
    #fff);
}

.alert-success {
    .alert-variant(@success-color;
    @success-color;
    #fff);
}

.alert-info {
    .alert-variant(@info-color;
    @info-color;
    #fff);
}

.alert-warning {
    .alert-variant(@warning-color;
    @warning-color;
    #fff);
}

.alert-danger {
    .alert-variant(@danger-color;
    @danger-color;
    #fff);
}

#listPackages {
    .package {
        marign: 0;
        padding: 0;
        .package-table {
            padding-bottom: 30px;
            .package-header {
                position: relative;
                background-color: @primary-color;
                padding: 5px 10px;
                text-align: center;
                border-top-right-radius: 4px;
                border-top-left-radius: 4px;
                .package-title {
                    color: #fff;
                    // text-transform: uppercase;
                    // letter-spacing: 2px;
                    font-size: 24px;
                    text-align: center;
                    // font-weight: 700;
                }
                .package-rate {
                    font-size: 70px;
                    font-weight: 700;
                    color: #fff;
                    position: relative;
                    text-align: center;
                    sup {
                        font-size: 24px;
                        position: relative;
                        top: -30px;
                        color: #fff - 80;
                    }
                    span {
                        font-size: 14px;
                        color: #fff - 80;
                        // text-transform: uppercase;
                    }
                }
            }
        }
        .package-list {
            padding: 20px 0 40px 0;
            background: #fff;
            border: 1px solid @default-color;
            ul {
                padding: 0px;
                display: table;
                margin: 0px auto;
                li {
                    list-style: none;
                    border-bottom: 1px solid @default-color;
                    color: #fff - 80;
                    font-size: 14px;
                    line-height: 42px;
                    &:list-child {
                        border: none;
                    }
                    i {
                        margin-right: 12px;
                        color: #fff - 80;
                    }
                    span {
                        color: @primary-color;
                    }
                }
            }
        }
    }
}

.modal-primary {
    .modal-header {
        background-color: @primary-color;
        color: @default-color;
    }
}

.modal-footer {
    border-top: 1px solid @default-color;
}

a {
    text-decoration: none;
    color: @primary-color;
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        color: @primary-color - 10;
    }
}

.pagination {
    > li > a {
        color: @primary-color;
    }
    > .active > a,
    > .active > span {
        &,
        &:hover,
        &:focus {
            color: #fff;
            background-color: @primary-color;
            border-color: @primary-color;
        }
    }
}

.progress {
    height: 30px;
    padding: 4px;
    border: 4px solid @success-color;
    border-radius: 10px;
    box-shadow: none;
}

.progress-bar {
    background-image: none !important;
    box-shadow: none;
    border-radius: 5px;
    line-height: 13px;
}

.progress-bar-success {
    .progress-bar-variant(@success-color);
}

.editor {
    position: relative;
    height: 700px;
}

.medusa-plain {
    background-color: #fff;
    .loginPanel {
        padding-top: 200px;
        .panel {
            padding: 20px 0px;
        }
        img {
            width: 80%;
            padding-bottom: 20px;
        }
    }
}

.breadcrumb {
    padding: 2px 5px;
    margin-bottom: @line-height-computed;
    list-style: none;
    background-color: transparent;
    // border-radius: @border-radius-base;
    border: 0;
    > li {
        display: inline-block;
        + li:before {
            font-family: 'FontAwesome';
            content: "\f101\00a0"; // Unicode space added since inline-block means non-collapsing white-space
            padding: 0 5px;
            color: @breadcrumb-color;
        }
    }
    > .active {
        color: @breadcrumb-active-color;
    }
}

.ball-pulse {
    padding-top: 100px;
    z-index: -10;
    position: absolute;
    left: 50%;
    > div {
        background: @default-color;
    }
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: @zindex-dropdown;
    display: none; // none by default, but block on "open" of the menu
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0; // override default ul
    list-style: none;
    font-size: @font-size-base;
    text-align: center; // Ensures proper alignment if parent has it changed (e.g., modal footer)
    background-color: #fff;
    border: 1px solid #e5e5e5; // IE8 fallback
    border: 1px solid #e5e5e5;
    border-radius: @border-radius-base;
    .box-shadow(0 6px 12px rgba(0, 0, 0, .175));
    background-clip: padding-box;
    // Aligns the dropdown menu to right
    //
    // Deprecated as of 3.1.0 in favor of `.dropdown-menu-[dir]`
    &.pull-right {
        right: 0;
        left: auto;
    }
    // Dividers (basically an hr) within the dropdown
    .divider {
        .nav-divider(@dropdown-divider-bg);
    }
    // Links within the dropdown menu
    > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: @line-height-base;
        color: @primary-color;
        white-space: nowrap; // prevent links from randomly breaking onto new lines
    }
}

.dropdown-menu > li > a {
  &:hover,
  &:focus {
    text-decoration: none;
    color: #fff - 80;
    background: none;
  }
}

.dropdown-menu > .active > a {
  &,
  &:hover,
  &:focus {
    text-decoration: none;
    outline: 0;
    color: #fff - 80;
    background: none;
  }
}

.medusa-dashboard {
    padding-top: 20px;
    background-color: @primary-color + 5;
    color: #fff - 80;
    height: auto;
    text-align: right;

    .badge {
        margin-right: 20px;
        text-transform: uppercase;
        font-family: 'LatoWebLight';
        letter-spacing: 0.7px;
        background-color: rgba(75, 192, 192, 1);
        border-radius: 3px;
        color: #fff;
        font-size: 15px;
    }
}

.medusa-circle {
    background: @primary-color;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 5px;
    text-align: center;
    width: 1.6em;
}

/*.toast-top-right {
    top: 65px;
}*/

#toast-container > .toast-info {
    background-color: @info-color;
}

#toast-container > .toast-error {
    background-color: @danger-color;
}

#toast-container > .toast-success {
    background-color: @success-color;
}

#toast-container > .toast-warning {
    background-color: @warning-color;
}

.dropzone {
    min-height: 230px;
    border: 3px dashed @gray-color;
    background: rgba(0, 0, 0, 0);
    border-radius: 6px;
    padding: 20px 20px;
}

.panel-category {
    .text-description {
        line-height: 25px;
    }
    img {
        background: @primary-color;
        border-radius: 5px;
        border-color: @primary-color;
        &.img-thumbnail {
            padding: 10px;
        }
        // border: 2px solid @primary-color;
        // .box-shadow(0 0px 1px rgba(0, 0, 0, .05));
    }
    .text-link {
        width: 84px;
        font-weight: 900;
        word-wrap: break-word;
        font-size: 13px;
    }
    .col-lg-2 {
        width: 110px;
    }
}

.popover {
    min-width: 300px;
}

.whop-information, .distribution-info, .server-info {
    padding-bottom: 20px;
    margin-top: -30px;
    > .row {
        text-align: center;
        border-bottom: 2px solid @default-color;
    }
    div[class*="col-"] {
        &:nth-child(2n) {
            border-left: 2px solid @default-color;
            border-right: 2px solid @default-color;
        }
    }
}

.whop-information {
    div[class*="col-"] {
        min-height: 150px;
        h1 {
            font-family: 'LatoWebThin';
            font-size: 70px;
        }
        h5 {
            font-family: 'LatoWebLight';
            text-transform: uppercase;
            font-size: 15px;
            letter-spacing: 0.6px;
            line-height: 20px;
        }
    }
}

.distribution-info {
    .chart {
        min-height: 350px;
        padding: 20px;
    }
    .special-info {
        div[class*="col-"] {
            height: 350px/3;
            max-height: 350px/3;
            text-align: right;
            h1 {
                font-family: 'LatoWebLight';
                font-size: 30px;
            }
            h5 {
                font-family: 'LatoWebLight';
                text-transform: uppercase;
                font-size: 15px;
                letter-spacing: 0.6px;
                line-height: 20px;
            }
        }
    }
    .with-border-bottom {
        border-bottom: 2px solid @default-color;
    }
}

.server-info {
    .live-log {
        padding: 0;
    }
    > .row {
        border-bottom: none;
    }
    .no-border {
        border-left: 0 !important;
    }
    .server {
        .row {
            border-bottom: 2px solid @default-color;
            border-right: 2px solid @default-color;
        }
    }
    h1 {
        font-family: 'LatoWeb';
        font-size: 20px;
        text-align: left;
    }
    h5 {
        font-family: 'LatoWebLight';
        text-transform: uppercase;
        font-size: 15px;
        letter-spacing: 0.6px;
        line-height: 20px;
        text-align: left;
    }
    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        font-family: 'LatoWeb';
        font-size: 15px;
        padding: 15px;
        text-align: left;
    }
}