@primary-color: #22313F;
@default-color: #f1f1f1;
@danger-color: #D91E18;
@success-color: #00B16A;
@warning-color: #F5AB35;
@info-color: #4183D7;
@gray-color: #BFBFBF;

@breadcrumb-separator: "\f101";

@font-stack: 'LatoWeb';